.main {
	width: 100vw;
	height: 100vh;
	background: url(https://bit.ly/3afNJzT);
	background-size: cover;
	background-attachment: fixed;
}

.main .inset {
	width: 100%;
	height: 100%;
	background: #000a;
}

.main .title {
	position: absolute;
	top: 40vh;
	left: 20vw;
	color: #ccc;
	font-family: Segoe UI Light;
}

.main .title .head {
	font-size: 5em;
}

.main .title .tag {
	display: flex;
	word-spacing: 5px;
}
/*
.main .title .tag div:not(:last-child)::after {
	content: " |";
}
*/
.main .scroll {
	width: 70px;
	height: 70px;
	/*background: #f00;*/
	border-radius: 100%;
	text-align: center;
	line-height: 70px;
	color: #ccc7;
	position: absolute;
	z-index: 100;
	top: 75vh;
	left: 47vw;
	transform: rotate(180deg);
	font-size: 4em;
	/*border: 1px solid #ccc;*/
	cursor: pointer;
	/*transition: .25s all ease;*/
}

.main .scroll div {
	position: relative;
	display: inline;
	margin: 0 -30.7px;
	top: 15px;
}

.main .scroll:hover div {
	top: -15px;
}

.main .scroll .a {
	transition: .25s all ease;
}

.main .scroll .b {
	transition: .5s all cubic-bezier(0.5, 0, 0.1, 1);
}

.main .scroll .c {
	transition: .75s all cubic-bezier(0.5, 0, 0.1, 1);
}

@media screen and (max-aspect-ratio: 1/1) {
	.main .title {
		top: 30vh;
		left: 10vw;
		width: 90vw;
		font-size: 1.7em;
	}

	.main .title .tag {
		font-size: 1.5em;
		margin: 10px 0;
		display: inherit;
	}

	.main .title .tag div span{
		display: none;
	}

	.main .scroll {
		top: 80vh;
	}

	.main .scroll div {
		font-size: 2em;
		margin: 0 -52px;
	}

	.main .scroll:hover div {
		top: -50px;
	}
}